@model Orchard.Accenture.Event.ViewModels.ImportParticipantViewModel

@{
    var events = Model.Events;
    var currentId = Model.CurrentEventId;
    string owner = Model.Owner;
}

@{
    Layout.Title = T("Import Participant").ToString();

    using (Html.BeginFormAntiForgeryPost(Url.Action("Import", new { area = "Orchard.Accenture.Event" }), FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary();
    <hr />
    <fieldset>
        <a href='@Url.Content("~/Modules/Orchard.Accenture.Event/Content/template/Participant_template.xlsx")' target="_self">@T("Download Participant Template")</a>
    </fieldset>
    <hr />
    <fieldset>
        <label>@T("Event Picker")</label>
        <select name="event-picker">
            @foreach (var item in events)
            {
                if (!((((dynamic)item).VersionRecord != null)
                    && ((((dynamic)item).VersionRecord.Published == false)
                    || (((dynamic)item).VersionRecord.Published && ((dynamic)item).VersionRecord.Latest == false))))
                {
                    if (((dynamic)item).Id == currentId)
                    {
                        <option selected value="@(((dynamic)item).Id)">@(((dynamic)item).TitlePart.Title)</option>
                    }
                    else
                    {
                        <option value="@(((dynamic)item).Id)">@(((dynamic)item).TitlePart.Title)</option>
                    }
                }

            }
        </select>
    </fieldset>
    <fieldset>
        <label for="SessionFile">@T("Participant File:")</label>
        <input type="file" id="ParticipantFile" size="64" name="ParticipantFile" value="Browse..." />
    </fieldset>

    <fieldset>
        <label for="@Html.Id("owner")">@T("Change ownership of imported participants to delegated user account:")</label>
        <span>@Html.TextBox("owner", owner, new { @class = "text-medium" })</span>
    </fieldset>
    <fieldset>
        @T("Note: Leave blank to keep ownership.")
    </fieldset>

    <button type="submit" class="primaryAction">@T("Import")</button>
    }
}
