@{
    ViewBag.Title = "Index";
    bool isAdmin = ViewBag.IsAdmin;
    string orgOwner = ViewBag.OrgOwner;
    string owner = ViewBag.Owner;
    
}
@{
    Layout.Title = T("Delegation").ToString();
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("Index", new { area = "Orchard.Accenture.Event" }), FormMethod.Post, null))
{
    @Html.ValidationSummary();
     if (isAdmin)
     {
         
        <fieldset>
            <label for="@Html.Id("orgOwner")">@T("Change ownership of all content from original user account:")</label>
            <span>@Html.TextBox("orgOwner", orgOwner, new { @class = "text-medium" })</span>
        </fieldset>
     }
     <fieldset>
         <label for="@Html.Id("owner")">@T("Change ownership of all content to delegated user account:")</label>
         <span>@Html.TextBox("owner", owner, new { @class = "text-medium" })</span>
     </fieldset>
    <fieldset>
        @T("Note: After performing this action, the original user account will lose ownership of their content and access to view and manage it.")
    </fieldset>
    
    <button type="submit" class="primaryAction">@T("Delegate")</button>

}

