@model Orchard.Accenture.Event.ViewModels.EventViewModel
@using Orchard.Accenture.Event.Models;
@using Orchard.Mvc.Html;
@using Orchard.Utility.Extensions;

@{
    Script.Require("jQueryUI_DatePicker");
    Layout.Title = T("Create an Event").ToString();
}
@*<fieldset>
        <label for="@Html.IdFor(m => m.Event.SubTitle)">@T("Sub Title")</label>
        <span class="date">@Html.TextBoxFor(m => m.Event.SubTitle, new { @class = "text-medium" })</span>
    </fieldset>*@
<fieldset>
    <label for="@Html.IdFor(m => m.Event.StartDate)" class="required">@T("Start Date")</label>
    <span class="date">@Html.TextBoxFor(m => m.Event.StartDate, new { @class = "text-medium" })</span>

</fieldset>
<fieldset>
    <label for="@Html.IdFor(m => m.Event.EndDate)" class="required">@T("End Date")</label>
    <span class="date">@Html.TextBoxFor(m => m.Event.EndDate, new { @class = "text-medium" })</span>
</fieldset>
<fieldset>
    <label class="sub" for="@Html.IdFor(m => m.Event.Location)">@T("Location")</label>
    <br />
    @Html.TextBoxFor(m => m.Event.Location, new { @class = "text-medium" })

</fieldset>

<fieldset>
    <label for="@Html.IdFor(m => m.Event.LocationDescription)">@T("Location Details")</label> @*  mistake the description,details by arjun*@
    <span class="date">@Html.TextBoxFor(m => m.Event.LocationDescription, new { @class = "text-medium" })</span>

</fieldset>

<fieldset>
    <label class="sub" for="@Html.IdFor(m => m.Event.IntroduceVideoPlayer)">@T("Introduce Video Player")</label>
    <br />
    @Html.TextBoxFor(m => m.Event.IntroduceVideoPlayer, new { @class = "text-medium" })

</fieldset>
<fieldset>
    <label for="@Html.IdFor(m => m.Event.IntroduceVideoSubject)">@T("Introduce Video Subject")</label>
    <span class="date">@Html.TextBoxFor(m => m.Event.IntroduceVideoSubject, new { @class = "text-medium" })</span>

</fieldset>
<fieldset>
    <label for="@Html.IdFor(m => m.Event.IntroduceVideoDescription)">@T("Introduce Video Description")</label>
    <span class="date">@Html.TextBoxFor(m => m.Event.IntroduceVideoDescription, new { @class = "text-medium" })</span>
</fieldset>
@*<fieldset>
    <label for="@Html.IdFor(m => m.Event.Description)">@T("Description")</label>
    <span class="date">@Html.TextBoxFor(m => m.Event.Description, new { @class = "text-medium" })</span>
</fieldset>*@

<fieldset>
    <label for="@Html.IdFor(m => m.Event.CircleID)">@T("Circle ID")</label>
    <span class="date">@Html.TextBoxFor(m => m.Event.CircleID, new { @class = "text-medium" })</span>
</fieldset>
<fieldset>
    <label for="@Html.IdFor(m => m.Event.CircleGUID)">@T("Circle GUID")</label>
    <span class="date">@Html.TextBoxFor(m => m.Event.CircleGUID, new { @class = "text-medium" })</span>
</fieldset>
<fieldset>
    <label class="sub" for="@Html.IdFor(m => m.Event.ContactPickerIds)">@T("Contact Enterprise Id")</label>
    <br />
    @Html.TextBoxFor(m => m.Event.ContactPickerIds, new { @class = "text-medium" })
    <a id="btnLoadProfile" name="btnLoadProfile" class="button primaryAction" value="">@T("Search")</a>
    <img id="loading" style="display:none" height="20" width="20" src='@Url.Content("~/Modules/Orchard.Accenture.Event/Content/images/loading.gif")' />
    <a id="Message"></a>
    <br />
    @T("For multiple contacts, please use a comma (,) to separate names. (Example: jane.doe, john.smith) Names must already exist in Orchard.")
</fieldset>
@using (Script.Foot())
{
    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            $("#btnLoadProfile").click(function () {
                var eid = $('#Orchard_Accenture_Event_Event_Event_ContactPickerIds').val();
                if (!eid) {
                    alert("Please fill Enterprise ID");
                    return;
                }
                $.ajax({
                    url: '../../../api/People/LoadMultipleParticipants?eid=' + eid,
                    type: 'GET',
                    beforeSend: function () {
                        $('#loading').show();
                    },
                    complete: function () {
                        $('#loading').hide();
                    },
                    success: function (data) {
                        if (data) {
                            if (data.Count > 0) {
                                $('#Message').text("");
                                $('#Message').append(data.Result);
                            } else {
                                $('#Message').text("");
                                $('#Message').append("OK");
                            }
                        }
                    }
                });
            });
            $(document).ready(function () {
                $('.save-button .primaryAction').text('Save As Draft');
            });

        })

        //]]>
    </script>
}
@using (Script.Foot())
{
    @* Generate the localization scripts. *@
    @Display.CalendarsPickerLocalization()
    @Display.TimeEntryLocalization()

    <script type="text/javascript">
        //<![CDATA[
        $(function () {

            $('#@Html.FieldIdFor(m => m.Event.StartDate)').datepicker({ showAnim: "" });
            $('#@Html.FieldIdFor(m => m.Event.EndDate)').datepicker({ showAnim: "" });
        });
        //]]>
    </script>
}